@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.portfolio_header{
    margin-bottom: 35px;
}
.portfolio_card_list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    @include mix.mq($bp: lg){
        grid-template-columns: repeat(2, 1fr);
    }
    @include mix.mq($bp: xxl){
        grid-template-columns: repeat(3, 1fr);
    }
}
.portfolio_img_container{
    position: relative;
    overflow: hidden;
    &:hover{
        .backdrop_img{
            top: 0;
        }
    }
}
.backdrop_img{
    position: absolute;
    top: -100%; /* Початкове положення поза контейнером */
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Напівпрозорий чорний колір */
    transition: top 0.3s ease; /* Плавна анімація */
    @include mix.flex-center();
}
.portfolio_img--page{
    background: var.$bg_primary;
    @include mix.mq($bp: sm){
        width: 340px;
    }
    
}

.link_projects{
    @include mix.font-styles($fs: 18px, $fw: 600, $lh: 22px);
    text-transform: uppercase;
    padding: 15px ;
}
.card_wrap{
    padding: 15px;
    @include mix.mq($bp: sm){
        width: 320px;
    }
    
    background: var.$bg_black_secondary;
    border: 1px solid var.$border_color_grey;
    border-radius: 15px;

}

.wrap_description_card{

    padding-top: 15px;
    .title_card{
    @include mix.font-styles($fs: 24px, $fw: 600, $lh: 36px);
    text-transform: uppercase;
    margin-bottom: 10px;
}
}

.text_description_card{
   @include mix.font-styles($fs: 16px, $fw: 400, $lh: 22px);
   margin-bottom: 10px;
}

.steak_technology_card{
    margin-top: auto;
    @include mix.font-styles($fs: 14px, $fw: 600, $lh: 22px);
    text-transform: uppercase;
    color: var.$color-accent;
}