@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.modal_window_backdrop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 162px 28px 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: var.$bg_primary;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.mobile-hidden{
    visibility: hidden;
    opacity: 0;
}

.backdrop__close--btn{
    margin-bottom: 36px;
}

.modal_window_backdrop{
    .navigation--item{
        @include mix.font-styles($fs:32px, $fw: 500, $lh:39px,);
    }
    .menu_navigation--list{
        margin-bottom: 36px;
    }
    .menu_block--name{
        @include mix.font-styles($fs:28px, $fw: 400, $lh:34px,);
    }
    .menu_block--profession{
        @include mix.font-styles($fs:14px, $fw: 400, $lh:17px,);
    }
}