@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


.skill__section{
    padding: 36px 28px 0px 28px;
    margin-bottom: 36px;
    @include mix.mq($bp: lg){
        margin-bottom: 86px;
        padding-top: 86px;
    }
    @include mix.mq($bp: xxl){
        margin-bottom: 150px;
        padding-top: 192px;
    }
}

.skill__section--title{
    @include mix.font-styles($fs: 36px, $fw: 600, $lh:44px);
    text-transform: uppercase;
    margin-bottom: 44px;
    @include mix.mq($bp: lg){
        display: none;
    }
}

.skill_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 36px;
    column-gap: 9px;
    @include mix.mq($bp: lg){
       row-gap: 45px; 
       column-gap: 10px;
    }
    @include mix.mq($bp: xxl){
       row-gap: 68px; 
       column-gap: 12px;
    }

    .skill_item{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 155px;
        background: var.$bg_black_secondary;
        border: 1px solid var.$border_color_grey;
        border-radius: 12px;
        padding-top: 35px;
        padding-bottom: 12px;
        @include mix.mq($bp: lg){
            width: 120px;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        @include mix.mq($bp: xxl){
            width: 250px;
            padding-top: 52px;
            padding-bottom: 20px;
        }

    }
    .skill_svg--wrap{
        @include mix.flex-center();
        @include mix.p-absolute($t:-27px);
        width: 55px;
        height: 55px;
        border-radius: 100%;
        background: var.$bg_grey_secondary;
        @include mix.mq($bp: lg){
            width: 46px;
            height: 46px;
            @include mix.p-absolute($t:-23px);
        }
        @include mix.mq($bp: xxl){
            width: 86px;
            height: 86px;
            @include mix.p-absolute($t:-43px);
        }
    }
    .skill_svg{
        width: 30px;
        height: 30px;
        fill: var.$bg_primary;
        &.stroke{
            stroke: var.$bg_primary;
        }
        @include mix.mq($bp: lg){
            width: 28px;
            height: 28px;
        }
        @include mix.mq($bp: xxl){
            width: 45px;
            height: 50px;
        }
    }
    .skill_name{
        @include mix.font-styles($fs: 24px, $fw:400, $lh: 29px);
        text-transform: uppercase;
        @include mix.mq($bp: lg){
            @include mix.font-styles($fs: 20px, $fw:400, $lh: 24px);
        }
        @include mix.mq($bp: xxl){
            @include mix.font-styles($fs: 40px, $fw:600, $lh: 48px);
        }
    }
    .skill_name--fs-s{
        @include mix.font-styles($fs: 18px, $fw:400, $lh: 22px);
        text-transform: uppercase;
        @include mix.mq($bp: lg){
            @include mix.font-styles($fs: 14px, $fw:400, $lh: 17px);
        }
        @include mix.mq($bp: xxl){
            @include mix.font-styles($fs: 32px, $fw:600, $lh: 39px);
        }
    }

}


