@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.layout{
    display: block;
    margin: auto;
    max-width: var.$min-w;
    margin: auto;
    @include mix.mq($bp:lg){
        max-width: var.$mid-w;
        display: flex;
    }
       @include mix.mq($bp:xxl){
        max-width: var.$max-w;
    }

}


.menu__block{
// Media queries 750px
    display: none;
    @include mix.mq($bp: lg){
        display: block;
        width: 150px;
        
    }
     @include mix.mq($bp: xxl){
        width: 300px;
        
    }

}
.layout_block--main{
     @include mix.mq($bp: lg){
        flex-grow: 1;
        max-width: 100%;
    }
    
}

.hover_link{
    &:hover{
        color: var.$color-accent;
        stroke: var.$color-accent;
        fill: var.$color-accent;
    }
}